.trustee {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    row-gap: 90px;
    @media(max-width: 459px) {
        justify-content: center;

    }
}