body {
    background: #fffffb;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;

    &__body {
        max-width: 952px;
        margin: 0 auto;
    }
}

.main {
    padding-top: 60px;
    flex: 1 1 auto;
}

section {
    padding: 70px 0;
    border-bottom: 1px solid rgba(146,79,53,0.05);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
