.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    // overflow: hidden;

    &__body {
        max-width: 952px;
        margin: 0 auto;
        padding: 0 20px;
        overflow: hidden;
    }
}

a:hover {
    text-decoration: none;
}

.loader__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    padding-top: 60px;
    flex: 1 1 auto;
    height: 100%;
}

body {
    transition: all 0.3s ease;
}

section {
    padding: 120px 0;
    border-bottom: 1px solid rgba(146,79,53,0.05);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // background: var(--background);
}


html {
    background: var(--background);
    transition: all 0.5s ease;

}

.wrapper__gradient {
    background: var(--background);
    transition: all 0.5s ease;

}

.block-primary{
    &__title{
        color: var(--color-active);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 13px;
    }
    &__subtitle{
        font-weight: 500;
        font-size: 42px;
        line-height: 1.2;
    }
    &__big{
        font-family: rubik;
        font-size: 22.5px;
        line-height: 1.5;
        color: var(--color-text);
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    &__sm {
        font-family: rubik;
        font-size: 20px;
        line-height: 1.5;
        color: var(--color-text);
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    &__list-number{
        line-height: 1.5;
        text-align: start;
        padding-left: 20px;
        list-style-type: auto;
        color: var(--color-text2);
        font-size: 18px;
        margin-top: 20px;
    }
    &__list{
        line-height: 1.5;
        text-align: start;
        padding-left: 20px;
        list-style-type: disc;
        color: var(--color-text2);
        font-size: 18px;
        margin-top: 20px;
    }
    &__list-item {
        margin-bottom: 10px;
    }
    &__link:hover {
        text-decoration: none;
    }
    &__text{
        line-height: 1.5;
        margin-top: 20px;
        color: var(--color-text2);
        margin-bottom: 16px;
        font-size: 18px;
    }
    &__text strong{
        color: var(--color-text);
        font-weight: 500;
    }
    &__gallery {
        color: var(--color-text2);
        font-size: 18px;
        display: flex;
        gap: 20px;
        line-height: 1.5;
        margin-bottom: 50px;
        margin: 0 auto;
        text-align: center;
        @media (max-width: 1020px) {
            flex-direction: column;
            text-align: start;
        }
    }
    &__gallery-item{
        margin: 0 auto;
        margin-top: 70px;
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        @media (max-width: 1020px) {
            // width: 100%;
            flex: 0 0 100%;
        }
    }
    
    &__gallery-visual {
        margin: 0 auto;
        max-width: 150px;
        width: 70%;
        @media (max-width: 550px) {
            width: 50%;
        }
    }
    &__gallery-visual img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        animation: rotateImg 33s linear infinite;
    }
    &__img {
        margin-top: 20px;
        width: 100%!important;
        display: block;
    }
    &__img-sm {
        margin-top: 20px;
        width: 50%!important;
        display: block;
    }
    &__mixed {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &__bold {
        font-size: 18px;
        font-weight: 500;
        color: var(--color-text);

    }
    &__description {
        flex: 1 1 auto;
    }
}

strong {
    font-weight: 600;
}

li a {
    display: inline !important;
}

@keyframes titile_reveal {
    0%{
        opacity: 0;
        transform: translateX(70px)
    }
    100% {
        opacity: 1;
        transform: translateX(0px)
    }
}


@keyframes animStars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
@keyframes rotateImg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.token__id {
   word-break: break-all;
}

.formula {
    text-align: center;
    h3 {
        position: relative;
        font-weight: 400;
        width: 300px;
        margin: 0 auto;
    }
    &__degree {
        position: absolute;
        top: -40%;
        left: 37%;
        transform: scale(0.7);
    }
    &__base {
        margin-right: 50px;
    }
    &__small {
        font-size: 12px;
    }
}

.decor__line {
    display: block;
    width: 100%;
    margin: 20px 0;
    background: var(--color-decor);
    height: 1px;
}

.marker-list {
    list-style: disc;
    padding-left: 20px;
    line-height: 1.5;
}

.about-eco {
    background: var(--background);

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        @media(max-width: 730px) {
            flex-direction: column;
        }
    }

    &__descr {
        max-width: 557px;
        width: 100%;
        text-align: start;
        padding-bottom: 20px;
        @media(max-width: 730px) {
            order: 1;
        }
    }
    &__img {
        padding: 5%;
        width: 50%;
        max-width: 362px;
        max-height: 362px;
        height: 100%;
        // width: 100%;
    }
    &__img img{
        object-fit: cover;
        width: 100%;

    }

    &__button {
        margin: 55px 0 0 0;
        max-width: max-content;
    }
}

.info {
    background: var(--background2);

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 368px));
        align-items: center;
        gap: 16px;
        margin: 40px auto 0;
        justify-content: center;
        padding-bottom: 20px;
    }

    a {
        color: var(--color-text);
        background: var(--background);
        padding: 20px 23px 20px 32px;
        font-weight: 600;
        font-size: 22px;
        border: 1px solid var(--color-border);
        display: flex!important;
        align-items: center;
        border-radius: 24px;
        justify-content: space-between;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    a:hover {
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background: var(--color-button-hover1);
    }

    span {
        display: inline-block;
        height: 20px;

    }

    align-self: after;
}

.poster-bg {
    margin: 40px 0;
    width: 100%;
    border-radius: 8px;
    height: 100%;
}

.flex-block {
    display: flex;
    justify-content: center;
    gap: 40px;
    @media(max-width: 690px) {
        flex-direction: column;
        gap: 0px;
    }

    &__text {
        width: 50%;
        @media(max-width: 690px) {
            order: 1;
            width: 100%;
         }
    }

    &__image {
        margin-top: 20px;
        width: 50%;
        border-radius: 8px;
        max-width: 500px;
        max-height: 500px;
        overflow: hidden;

        @media(max-width: 690px) {
            margin: 20px auto;
         }
    }

    &__image img {
        object-fit: cover;
        width: 100%;
    }
}