body[theme='dark'] {
    // background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background: #131b25;

    --background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    --color-text: #e0dfdf;
    --color-active: #f0e79c;
    --color-text2: #cccccc;
    --color-alter: #3b3b3b75;
    --color-decor: rgba(21, 21, 21, 0.16);
    --main-page-gradient: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

body[theme='light'] {
    background: #d4d27fa7;

    --background: #fffffb;
    --color-text: #27292e;
    --color-active: #924f34;
    --color-text2: #6d7079;
    --color-alter: rgba(249,249,245,0.75);
    --color-decor: rgba(21, 21, 21, 0.16);
    // --main-page-gradient: linear-gradient(-45deg, #dfdd86, #d5e7d7, #fffffb); 
    --main-page-gradient: linear-gradient(-45deg, #dfdd86, #d5e7d7, #c7c785); 

}
