.investors {
    background: var(--background);
    text-align: center;

    &__container {
        display: flex;
        justify-content: center;
        gap: 50px;
        @media(max-width: 911px) {
            flex-direction: column;
        }
    }

    &__descr {
        text-align: start;
    }

    &__title {
    font-size: 40px;
    margin-top: 15px;
    font-weight: 600;
    color: var(--color-text)
    }
    &__subtitle {
        margin-top: 30px;
        font-size: 18px;
        color: var(--color-text)

    }
    &__list {
        margin: 40px auto 0;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        @media(max-width: 750px) {
            width:100%
        }

    }
    &__item {
        // width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 50px;
        @media(max-width: 450px) {
            width:50%
        }
    }
    &__item:hover .investors__link svg {
        transform: scale(1.18);
    }
    &__link svg{
        object-fit: contain;
        width: 70%;
        height: 70%;
        transition: 0.3s ease all;
        fill: var(--color-text)
    }
}