.submenu {
    max-height: 0;
    width: max-content;
    overflow: hidden;
    position: absolute;
    line-height: 1.7;
    top: 35px;
    left: -50%;
    background: var(--background-menu);
    backdrop-filter: blur(8px);
    transition: 0.5s all ease;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    padding: 16px;
    visibility: hidden;
 
    &.opened {
        max-height: 400px;
        padding: 20px 20px;
    }

    &__link {
        border-radius: 4px;
        text-decoration: none;
        color: var(--color-text);
        position: relative;
        padding: 12px 16px;

        display: block!important;
        cursor: pointer;
        transition: 0.5s all ease;
    }
    &__link:hover{
        background: var(--background-menu-hover);
        
    }
}

.menu__list-item:hover .submenu{
    max-height: 500px;
    z-index: 20;
    visibility: visible;
}