.news-center {
    // text-align: center;

    &__title {
        font-size: 42px;
        color: var(--color-text);
        font-weight: 700;
        font-family: romana;
    }

    &__list {
        color: var(--color-text2);
        font-size: 18px;
        display: flex;
        gap: 10px;
        line-height: 1.5;
        margin-bottom: 50px;
    }
    &__list-item {
        margin: 0 auto;
        margin-top: 70px;
        flex: 0 0 30%;
    }
    &__image{
        width: 60%;
        display: block;
        margin: 0 auto 15px;
    }
    &__strong {
        display: block;
        margin: 0 auto 30px;
        font-weight: 600;
    }
    &__formule-descr{
        text-align: start;
    }
    &__list-sec{
        color: var(--color-text2);
        font-size: 18px;
        line-height: 1.5;
    }

}

.text__subtitle {
    font-family: rubik;
    font-size: 22.5px;
    line-height: 1.5;
    color: var(--color-text);
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 30px;
    // text-align: center;

}