.header {
    width: 100%;
    height: 70px;
    position: fixed;
    background: var(--color-alter);
    backdrop-filter: blur(8px);

    // background: linear-gradient(90deg, #e1ded344 0%, #cfe5e058 46.35%, #fcef634d 100%);
    // background-size: 200% 100%;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn {
        padding: 15px 30px;
        border-radius: 20px;
        border: 1px solid black;
    }
}