.footer {
    background: var(--color-alter);
    width: 100%;
    // height: 100px;
    padding: 30px 0;
    line-height: 1.3;
    backdrop-filter: blur(8px);
    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 28px;
        color: var(--color-text);
    }
    &__year {
        margin-top: 7px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.217);
        color: var(--color-text2)
    }
    &__socials {
        display: flex;
        gap: 10px;
        @media(max-width: 390px) {
            flex-direction: column;
        }
    }
    &__socials-item {
        display: block;
        width: 55px;
        height: 25px;
    }
    &__socials-item:hover svg{
        transform: scale(1.2);
    }
    &__socials-item svg{
        transition: 0.3s ease all;
    }
}
